* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #eee;
}

.container {
  width: 100vw;
  height: 100vh;
}

.navbar-cont {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  height: 80px;
  margin: auto;
  margin-top: 50px;
}

#navbar-img {
  height: 100%;

  padding: 10px 0;
}

.navbar-left {
  height: 100%;
  width: 20%;
  padding: 10px;
  display: flex;
}

.navbar-right {
  width: 80%;
  height: 50px;
  line-height: 50px;
}

.navbar-item {
  text-align: right;
  line-height: 80px;
}


.navbar-item-i {
  display: inline-block;
  position: relative;
}

.navbar-item-ii {
  display: none;
  position: absolute;
  width: 100%;
}


.navbar-item-i > a {
  padding: 0 20px;
}

.navbar-item-ii > a {
  margin-top: 5px;
  display: block;
  text-align: right;
  padding: 0 20px;
}

.navbar-item-i:hover {
  background: lightgrey;
  border-radius: 5px;
}

.navbar-item-ii > a:hover {
  background: lightgrey;
  border-radius: 5px;
}
